.post__create {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    
}

.post__create h1 {
    font-size: 30px;
    text-transform: uppercase;
}

.imageupload {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: 10px auto;
    background-color: rgb(235, 235, 235);
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 15px;
}


.imageupload input {
    border: 1px solid lightgray;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
}


.button{
    background-color: rgb(41, 74, 184) !important;
}


.imageupload__progress {
    width: 100%;
}